{% extends "base.html" %}

{% block content %}

<div class="bodys">
    <p class="logTitle">SIGN IN</p>

    <form method="post" action="{% url 'accounts:login' %}">
        {% csrf_token %}
        <p class="subname">Email Address</p>
        <input type="text" name="username" placeholder="web@gmail.com" class="texts" />
        <p class="subname">Password</p>
        <input type="password" name="password" placeholder="••••••••••" class="texts" /> <br />
        <button type="submit" class="oneButton">Sign in</button>
        <p class="tname">OR</p>
        <button class="twoButton">Sign Up with</button>
    </form>
    <a href="/create/">
        <p class="tname2">Do not have an account? Sign Up</p>
    </a>
</div>

{% endblock %}

