<!DOCTYPE html>
        {% extends 'base.html' %}
        {% block content %}
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
        <script>
            function selectCategory() {
                var selectedCategory = document.getElementById("categorySelect").value;
                // 선택된 카테고리에 따라 원하는 동작 수행
                console.log(selectedCategory); // 선택된 카테고리 출력 예시
            }
        </script>
    </head>
    <body>
        <div class="catego">
            <div class="cateblock">
                <div class="catebox">
                    <p class="catefont">전체보기</p>
                </div> 
            </div>

            <div class="cateblock">
                <div class="catebox">
                    <img src="{% static 'img/e1.png' %}" />
                    <p class="catefont">냉장고</p>
                </div>
            </div>
            <div class="cateblock">
                <div class="catebox">
                    <img src="{% static 'img/e2.png' %}" />
                    <p class="catefont">TV</p>
                </div>
            </div>
            <div class="cateblock">
                <div class="catebox">
                    <img src="{% static 'img/e3.png' %}" />
                    <p class="catefont">에어콘</p>
                </div>
            </div>

            <div class="cateblock">
                <div class="catebox">
                    <img src="{% static 'img/e4.png' %}" />
                    <p class="catefont">스마트폰</p>
                </div>
            </div>
            <div class="cateblock">
                <div class="catebox">
                    <img src="{% static 'img/e5.png' %}" />
                    <p class="catefont">가전제품</p>
                </div>
            </div>
        </div>
        </div>
            <hr style="border:#f0f0f0 2px solid;" />
        <!-- Page Content-->
        <div>
            
            <!-- Heading Row-->
            <div class="top-mains">
                <div class="sec-middle-text2">최고 인기 상품 TOP 5</div>
                <div class="main">
                    <div class="leftmain">
                    <img src="{% static 'img/z1.png' %}" />
                    <img src="{% static 'img/z2.png' %}" />
                    <img src="{% static 'img/z3.png' %}" />
                    <img src="{% static 'img/z4.png' %}" />
                </div>
                <div class="mainmain">
                    <img src="https://i.ibb.co/mvFCmXB/back.png" class="img1" alt="back" border="0">
                    <img src="{% static 'img/z5.png' %}" class="img2" alt="se" border="0">
                </div>
                <div class="rightmain">
                    <p class="proTitle">Product Name</p>
                    <img src="https://i.ibb.co/ZxgRRWF/star.png" alt="star" border="0"
                        style="height: 30px; width: 150px; margin-top: 0px;">
                    <ul>
                        <li class="li">Product explanation1</li>
                        <li class="li">Product explanation2</li>
                        <li class="li">Product explanation3</li>
                        <li class="li">Product explanation4</li>
                        <li class="li">Product explanation5</li>
                
                        <hr style="border:#f0f0f0 1px solid; margin: 20px auto;" />
                        <div class="catego">
                            <div class="button1">
                                <a href="/review/">review22</a>
                            </div>
                            <div class="button2">
                                <p>Inquriy</p>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
            <br/>
            <div class="sec-middle-text">여름 특가 상품</div>
            <div class="sec-mains">
                
                {% if content_list %}
                {% for content in content_list %}
                <div class="block-col">
                    <img src="{% static 'img/z' %}{{ forloop.counter }}.png" />
                    <h1 class="main-title">{{ content.title }}</h1>
                    <p>{{ content.content | truncatewords:30 }}</p>
                    <a class="main-block" href="{% url 'detail' content.id %}">Product Detail</a>
                </div>
            
                {% endfor %}
                {% else %}
                <p>content 가 없습니다.</p>
                {% endif %}
            </div>

            <!-- Content Row-->
            <div class="row gx-4 gx-lg-5">

            </div>
        </div>
                    
        {% endblock %}
    </body>
</html>
