<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <style>
            
        </style>
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    </head>
    <body>
        <div class="Header">
        
            <a href="/">
                <p class="title">VisionSoft</p>
            </a>
        
            <div class="Nav">
                <a href="/"><p class="Navar">Home</p></a>
                <a href="/mysite/"><p class="Navar">Product</p></a>
                <a href="/inquiry/"><p class="Navar">Inquiry</p></a>
            </div>
            <div class="main">
                <a href="/sign/">
                    <button class="LogButton">
                        {% if user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:logout' %}">{{ user.username }} (logout)</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">login</a></li>
                        {% endif %}
                    </button>
                </a>
            </div>
        </div>
        <hr style="border:#f0f0f0 2px solid;" />
        <div>
    </body>
</html>
